.form {
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.head {
  border-bottom: 1px solid var(--white);
  padding-bottom: var(--space-lg);
}

.body {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.bodyGroup {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.people {
  background-color: red;
}

.option {
  background-color: orange;
}

.label {
  color: var(--neutral-100);
}

.inputGroup {
  position: relative;
}

.inputGroup svg {
  position: absolute;
  top: var(--space-lg);
  left: var(--space-lg);
  color: var(--white);
}

.input {
  height: 40px;
  /* text-transform: capitalize; */
  padding-left: calc(var(--space-xlg) + var(--space-lg) + var(--space-md));
}

.input.big {
  height: var(--big-input-height);
  padding-left: var(--space-lg);
}

.errorMessage {
  color: var(--danger-500);
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: var(--space-md);
}

.buttons > * {
  width: 100%;
}
